body {
  font: 14px/134% Baskerville, serif;
  padding: 50px;
}

a {
    color: #666;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    font: 12px "Gill Sans" sans-serif;
}

table.taskList tr:hover > td {
    background-color: #eee;
}

th {
    border-bottom: 1px solid #333;
    text-align: left;
}

td {
    padding-right: 17px;
    padding-top: 3px;
    padding-left: 3px;
}

td.key {
    font-weight: normal;
    text-align: right;
}

td.val {
    font-weight: 100;
}

pre, tt {
    font-family: Inconsolata, Menlo, monospace;
}

ul#nav {
    background-color: #eee;
    border: 1px solid #333;
    border-top: 0px;
    border-left: 0px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul#nav li {
    display: block;
    float: left;
    padding: 5px;
}

p.paging {
    font: 12px "Gills Sans", sans-serif;
}
